@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply bg-white dark:bg-black text-black dark:text-white h-full min-h-[380] min-w-[540px];
    }

    #root {
        @apply h-full;
    }

    * {
        @apply border-black dark:border-white rounded-sm outline-none;
    }

    input {
        @apply px-4 py-1 bg-white dark:bg-black border focus:ring-1 ring-0 ring-black dark:ring-white;
    }

    /* input[type="checkbox"] {
    } */

    input[type="checkbox"] {
        @apply ring-0 rounded-none border h-5 w-5;
        box-sizing: border-box;
        padding: 0;
        appearance: none;
    }

    /* input[type="checkbox"]:checked {
        padding: 2px;
    } */

    input[type="checkbox"]:not(:disabled):checked {
        @apply bg-black dark:bg-white bg-clip-content p-1;
    }

    .special {
        @apply border py-1 px-2 hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black select-none;
    }

    .taskbar {
        @apply w-14 flex flex-col border-x border-gray-200 dark:border-gray-800 text-3xl;
    }

    .taskbar button {
        @apply border-0 bg-transparent text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white w-full min-h-14 flex flex-row items-center justify-center;
    }

    .taskbar button.selected {
        @apply text-black dark:text-white;
    }

    .panel-resize-handle {
        @apply w-[1px] bg-gray-200 dark:bg-gray-800 relative active:bg-black hover:bg-gray-400 dark:active:bg-white after:absolute after:w-[4px] after:h-full after:-left-[1px] before:absolute before:h-full before:w-[16px] before:-left-[6px] before:z-50;
    }

    .tabs {
        @apply flex flex-row border-b border-gray-200 dark:border-gray-800 h-8;
    }

    .tabs .tab {
        @apply flex flex-row items-center px-2 py-2 gap-2 select-none border-x border-gray-200 dark:border-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900;
    }

    .sidebar {
        @apply flex flex-col;
    }

    .sidebar h1 {
        @apply uppercase font-bold py-2 px-4 select-none text-sm;
    }

    .tree {
        @apply select-none flex flex-col;
    }

    .tree .node-container {}

    .tree .node {
        @apply h-6 px-2 hover:bg-gray-200 dark:hover:bg-gray-800 active:bg-gray-200 dark:active:bg-gray-800;
        @apply flex flex-row gap-1 items-center;
    }

    .tree .node.selected {
        @apply bg-gray-300 dark:bg-gray-600;
    }

    .tree .drag-below {
        @apply border-b-2 border-blue-800 -mb-0.5;
    }

    .tree .drag-above {
        @apply border-t-2 border-blue-800 -mt-0.5;
    }

    .tree .node .button-or-icon {
        @apply border-0 flex items-center justify-center h-full aspect-square relative after:absolute after:left-0 after:top-0 after:w-5 after:h-full;
    }

    .tree .node button.button-or-icon {
        @apply hover:bg-gray-400 dark:hover:bg-gray-600;
    }
}