@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply bg-white dark:bg-black text-black dark:text-white h-full min-h-[380] min-w-[540px];
        scrollbar-width: thin;
    }

    #root {
        @apply h-full;
    }

    .false {
        /* intentionally empty, string interpolation on booleans results in a false class existing sometimes */
    }

    * {
        @apply border-black dark:border-white rounded-sm outline-none;
    }

    input {
        @apply px-4 py-1 bg-white dark:bg-black border focus:ring-1 ring-0 ring-black dark:ring-white;
    }

    /* input[type="checkbox"] {
    } */

    input[type="checkbox"] {
        @apply ring-0 rounded-none border h-5 w-5;
        box-sizing: border-box;
        padding: 0;
        appearance: none;
    }

    /* input[type="checkbox"]:checked {
        padding: 2px;
    } */

    input[type="checkbox"]:not(:disabled):checked {
        @apply bg-black dark:bg-white bg-clip-content p-1;
    }

    .special {
        @apply border py-1 px-2 hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black select-none;
        @apply disabled:bg-white dark:disabled:bg-black disabled:border-zinc-500 disabled:text-zinc-500;
    }

    .taskbar {
        @apply w-14 flex flex-col border-x border-zinc-200 dark:border-zinc-800 text-3xl;
    }

    .taskbar button {
        @apply border-0 bg-transparent text-zinc-600 dark:text-zinc-400 hover:text-black dark:hover:text-white w-full min-h-14 flex flex-row items-center justify-center;
    }

    .taskbar button.selected {
        @apply text-black dark:text-white;
    }

    .panel-resize-handle {
        @apply w-[1px] bg-zinc-200 dark:bg-zinc-800 relative active:bg-black hover:bg-zinc-400 dark:active:bg-white after:absolute after:w-[4px] after:h-full after:-left-[1px] before:absolute before:h-full before:w-[8px] before:-left-[0px] before:z-50;
    }

    .tabs {
        @apply flex flex-row border-b border-zinc-200 dark:border-zinc-800 h-8;
    }

    .tabs .tab {
        @apply flex flex-row items-center px-2 py-2 gap-2 select-none border-x border-zinc-200 dark:border-zinc-800 hover:bg-zinc-100 dark:hover:bg-zinc-900;
    }

    .tabs .tab.active {
        @apply bg-zinc-200 dark:bg-zinc-800;
    }

    .sidebar {
        @apply flex flex-col h-full;
    }

    .sidebar h1 {
        @apply uppercase font-bold py-2 px-4 select-none text-sm;
    }

    .tree {
        @apply select-none flex flex-col overflow-y-auto overflow-x-hidden pb-4;
    }

    .tree .node-container {}

    .tree .node {
        @apply h-6 hover:bg-zinc-200 dark:hover:bg-zinc-800 active:bg-zinc-300 dark:active:bg-zinc-700;
        @apply flex flex-row items-center;
    }

    .tree .node.selected {
        @apply bg-zinc-300 dark:bg-zinc-700 active:bg-zinc-400 dark:active:bg-zinc-600;
    }

    .tree .drag-target {
        @apply bg-blue-200 dark:bg-blue-800;
    }

    .tree .node .button-or-icon {
        @apply border-0 flex items-center justify-center h-full aspect-square relative after:absolute after:left-0 after:top-0 after:w-5 after:h-full;
    }

    .tree .node button.button-or-icon {
        @apply hover:bg-zinc-400 dark:hover:bg-zinc-600;
    }

    ::-webkit-scrollbar{
        @apply w-2;
    }

    ::-webkit-scrollbar-track-piece{
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb{
        @apply w-2;
        @apply bg-black dark:bg-white bg-opacity-20 dark:bg-opacity-20 hover:bg-opacity-30 active:bg-opacity-40;
    }
}